@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {font: '맑은 고딕', Gothic, sans-serif; margin: 0; padding: 0;}

body {
    width: 1200px;
    margin: 0 auto;
}

#top {
    background-color: rgb(159, 229, 119);
}

#content {
    padding-top: 10px;
    background-color: aquamarine;
}

#bottom {
    background-color: yellow;
}

#article-header h3 {
    margin-left: 20px;
}

#main-title {
    text-align: center;
    padding: 30px;
}

#content input[type="radio"] {
    display: none;
}

img {border-radius: 10px;}

li {
    list-style: none;
}

.items {
    padding: 20px;
}

label {
    display: inline-block;
    margin: 0 50px;
    font-size: 20px;
}

#tab1 + label {
    margin-left: 200px;
}

label:hover {
    color: #fff;
    background-color: black;
    cursor: pointer;
}

#tab1 + label, #tab2 + label, #tab3 + label, #tab4 + label{
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 20px;
    margin-bottom: 50px;
}

#my-profile {
    display: block;
    float: left;
    margin-right: 20px;
}

#my-profile-photo {
    display: inline;
    margin: 10px;
}

#introduce_myself {
    float: right
}

#introduce_myself details {
    width: 690px;
}

#introduce_myself details[open] {
    width: 690px; 
}

#introduce_myself p {
    margin-right: 80px;
    margin-top: 3px;
}

#introduce-partner{
    width: 690px;
    height: 180px;
    margin-left: 40px;
    vertical-align: top;
}

#introduce-partner[open] {
    width: 690px; 
}

#introduce-partner summary {
    padding: 8px;
    border-radius: 5px;
    display: inline;
}

#introduce-partner p {
    display: block;
}

#introduce-partner summary:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#introduce_myself details summary {
    padding: 8px;
    border-radius: 5px;
    display: inline;
}

#introduce_myself details summary:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#hobby {
    float: left;
    align-items: center;
    margin: 40px 0;
}

#hobby p {
    margin-top: 3px;
}

#hobby div p:nth-of-type(1) {
    margin-top: 30px;
}

#climbing, #surfing {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.climbing-info {
    margin-left: 20px;
}

#climbing img {
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
}

#surfing img {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
}

#climbing-article, #surfing-article {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    height: 200px;
    width: 400px;
}

#climbing-article[open], #surfing-article[open] {
    width: 400px;
}

#climbing-article p , #surfing-article p{
    margin-top: 3px;
}

#climbing-article summary {
    display: inline;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#surfing-article summary {
    display: inline;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#climbing-article summary:hover, #surfing-article summary:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#surfing {
    margin-left: 20px;
}

.partner-info {
    display: flex;
    align-items: center;
}

.partner-info img { 
    margin-right: 20px;
    margin-left: 40px;
}

.partner-info div div p {
    display: inline-block; 
    vertical-align: top;
    margin-right: 30px;
}

#qna-title {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.qna-left p {
    margin-top: 40px;
}

.qna-content {
    overflow: hidden;
}

.qna-left {
    float: left;
}

.qna-right {
    float: right;
    margin-right: 20px;
}

.qna-right p {
    margin-bottom: 10px;
}

.qna-right h4 {
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin-right: 200px;
}

.qna-right img {
    margin-right: 20px;
    margin-bottom: 5px;
}

.qna-content div div {
    display: inline-block;
}

.qna-content div div img {
    margin-top: 20px;
    border-radius: 50%;
}

.qna-content div div p {
    display: inline-block;
}

#interview {
    padding-right: 15px;
    padding-left: 10px;
    border: 1px solid #2354f3;
    border-radius: 10px;
}

input { display: none;}

input:nth-of-type(1) ~ div:nth-of-type(1) {display: none;}
input:nth-of-type(1):checked ~ div:nth-of-type(1) {display:block; }

input:nth-of-type(2) ~ div:nth-of-type(2) {display: none;}
input:nth-of-type(2):checked ~ div:nth-of-type(2) {display:block; }

input:nth-of-type(3) ~ div:nth-of-type(3) {display: none;}
input:nth-of-type(3):checked ~ div:nth-of-type(3) {display:block; }

input:nth-of-type(4) ~ div:nth-of-type(4) {display: none;}
input:nth-of-type(4):checked ~ div:nth-of-type(4) {display:block; }